{% extends 'base.html'%}
{% load static %}
{% block title %}
<title>Blog</title>
{% endblock %}
{% block content %}
        <!-- Contact -->
        <section class="contact-area">
            <div class="container">
                <div class="gx-row d-flex justify-content-between gap-24">
                    <div class="contact-infos">
                        <h3 data-aos="fade-up">Contact Info</h3>
                        <ul class="contact-details">
                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-mail"></i>
                                </div>
                                <div class="right">
                                    <span>MAIL us</span>
                                    <h4>fayzievdev@gmail.com</h4>
                                    <h4>jahongirfayziyev94@gmail.com</h4>
                                </div>
                            </li>

                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-phone"></i>
                                </div>
                                <div class="right">
                                    <span>Contact Us</span>
                                    <h4>+998 20-004-93-82</h4>
                                    <h4>+998 90-739-67-02</h4>
                                </div>
                            </li>

                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-map-pin"></i>
                                </div>
                                <div class="right">
                                    <span>Location</span>
                                    <h4>Sergeli, Tashkent <br>Uzbekistan <br></h4>
                                </div>
                            </li>
                        </ul>

                        <h3 data-aos="fade-up">Social Info</h3>
                        <ul class="social-links d-flex align-center" data-aos="zoom-in">
                            <li><a class="shadow-box" href="https://t.me/TenWello"><i class="iconoir-telegram"></i></a></li>
                            <li><a class="shadow-box" href="https://github.com/TenWello"><i class="iconoir-github"></i></a></li>
                            <li><a class="shadow-box" href="https://www.instagram.com/_jahongir_7_77/"><i class="iconoir-instagram"></i></a></li>
                        </ul>
                    </div>

                    <div data-aos="zoom-in" class="contact-form">
                        <div class="shadow-box">
                            <img src="/static/images/bg1.png" alt="BG" class="bg-img">
                            <img src="/static/images/icon3.png" alt="Icon">
                            <h1>Let’s work <span>together.</span></h1>
                            <form method="POST" action="{% url 'contact' %}">
                                {% csrf_token %}
                                <div class="alert alert-success messenger-box-contact__msg" style="display: none" role="alert">
                                    Your message was sent successfully.
                                </div>
                                <div class="input-group">
                                    <input type="text" name="full_name" id="full-name" placeholder="Name *">
                                </div>
                                <div class="input-group">
                                    <input type="email" name="email" id="email" placeholder="Email *">
                                </div>
                                <div class="input-group">
                                    <textarea name="message" id="message" placeholder="Your Message *"></textarea>
                                </div>
                                <div class="input-group">
                                    <button class="theme-btn submit-btn" name="submit" type="submit">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>

{% endblock %}